# Copy this to .env.local and fill in your values.
# The Modal web endpoint URL for the deployed FastAPI app.
# Find it in the output of: modal deploy app/main.py
# VITE_API_URL=https://<your-modal-username>--mindmap-pipeline-fastapi-app.modal.run

# sample demo
VITE_API_URL=https://timothymarcellopasaribu--mindmap-pipeline-fastapi-app.modal.run/
VITE_SEARCH_API_URL=https://timothymarcellopasaribu--mindmap-pipeline-fastapi-app.modal.run/